{% load icons %}
{% load tags %}
{% load static from staticfiles %}

<div class="modal fade in" id="modal_compartment" tabindex="1" role="dialog" aria-labelledby="New compartment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data" onsubmit="return form_compartment.save();">
        {% csrf_token %}
        <input type="hidden" id="compartment_id" name="compartment_id" value="" >
        <input type="hidden" name="action" value="save" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
          <h4 class="modal-title" id="modal_title">New compartment</h4>
        </div>
        <div class="modal-body text-center">
          <ul class="nav nav-tabs text-center">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#math">Math</a></li>
            <li><a data-toggle="tab" href="#annotation">Annotation</a></li>
          </ul>
          <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
							{% include 'commons/html/name_input.html' with
								name="Name"
								id="compartment_name"
								placeholder="Input the name of the compartment"
								default=""
							%}
							{% include 'commons/html/validated_input.html' with
								name="Identifier"
								id="compartment_sbml_id"
								placeholder="Input identifier of the compartment"
								default=""
							%}
            </div>
            <div id="math" class="tab-pane fade in">
							{% include 'commons/html/float_input.html' with
								name="Size"
								id="compartment_size"
								placeholder="Input the size of the compartment"
								default="1"
							%}
							{% include 'commons/html/toggle_switch.html' with
								name="Constant"
								id="compartment_constant"
								default="checked"
								onclick="form_compartment.form_constant.toggle();"
							%}
							{% include 'commons/html/dropdown.html' with
								list=list_of_units
								name="Unit"
								id="compartment_unit"
								default_label="Choose a unit"
								default=""
							%}
            </div>
            <div id="annotation" class="tab-pane fade in">
							{% include 'commons/html/editable_input.html' with
								name="SBO term"
								id="compartment_sboterm"
								default=""
								default_label=""
								placeholder="Input the compartment SBO term"
								validate="form_compartment.form_sboterm.resolve();"
							%}
							{% include 'commons/html/notes_input.html' with
								name="Notes"
								id="compartment_notes"
								nb_lines=6
							%}
						</div>
					</div>
          <div class="container-fluid" id="error_modal">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

