{% extends '_layouts/menupage.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load tags %}

{% block title %} Species | {{ block.super }}{% endblock title %}
{% block header_js %}<script src="{% static 'form.js' %}"></script>{% endblock header_js %}
{% block edit_item %}active{% endblock edit_item %}
{% block view_name %}Model species{% endblock view_name %}
{% block view_sidebar %}{% include 'edit/menu.html' with page="species" %}{% endblock view_sidebar %}
{% block view_content %}
<div class="container-fluid" id="view">
  <h4>Species</h4>
  <hr/>
  {% if model_id != None %}
  {% include 'commons/error_page.html' %}
  <br/>
  <div class="container-fluid">
    <!-- Default panel contents -->
    <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col-sm-5 col-xs-5">Name</th>
          <th class="col-sm-5 col-xs-4">InitialAmount</th>
          <th class="col-sm-2 col-xs-3"></th>
        </tr>
      </thead>
      <tbody>
        {% for species in list_of_species %}
        <tr class="row">
          <td class="col-sm-5 col-xs-5">{{species.getNameOrSbmlId}}</td>
          <td class="col-sm-5 col-xs-4">{% if species.getValue != None %}{{species.getValue}}{% endif %} {% if unit != None %}({{ species.getUnits.getName }}){% endif %}</td>
          <td class="col-sm-2 col-xs-3">
            {% if user.is_authenticated %}
            <div class="pull-right">
              <form class="form-inline" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="species_id" value="{{ forloop.counter0 }}">
                <button type="button" onclick="view_species('{{species.getSbmlId}}')" class="btn btn-primary btn-xs btn-primary">{% bootstrap_icon "pencil" %}</button>
                <button type="submit" name="action" value="delete" class="btn btn-primary btn-xs btn-danger">{% bootstrap_icon "trash" %}</button>
             </form>
          </div>
          {% endif %}
         </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if user.is_authenticated %}
  <hr/>
  <div class="container-fluid">
      <button type="button" id="new_species_button" class="btn btn-primary btn-sm">{% bootstrap_icon "file" %} Create new species</button>
  </div>
  {% endif %}
  {% endif %}
</div>



{% endblock view_content %}

{% block view_modal %}
{% include 'edit/species_modal.html' %}
{% endblock view_modal %}


{% block js %}

{{ block.super }}
{% include 'edit/species.js'%}
{% endblock js %}
