{% load static from staticfiles %}
{% load bootstrap3 %}
{% load tags %}

<!-- Modal -->
<div class="modal fade out" tabindex="-1" role="dialog" aria-labelledby="New species" id="modal_species">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form" method="POST" enctype="multipart/form-data" id="species_form" onsubmit="return form_species.save();">
        {% csrf_token %}
        <input type="hidden" name="species_id" id="species_id" value="">
        <input type="hidden" name="action" value="save">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal_title">New species</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs text-center">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#math">Math</a></li>
            <li><a data-toggle="tab" href="#annotation">Annotation</a></li>
          </ul>
          <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
							{% include 'commons/html/name_input.html' with
								name="Name"
								id="species_name"
								default=""
								placeholder="Input the name of the species"
							%}
							{% include 'commons/html/sbmlid_input.html' with
								name="Identifier"
								id="species_sbml_id"
								placeholder="Input the identifier of the species"
								default=""
							%}
							{% include 'commons/html/dropdown.html' with
								name="Compartment"
								id="species_compartment"
								default_label="Choose a compartment"
								default=""
								list=list_of_compartments
							%}
            </div>
            <div id="math" class="tab-pane fade in">
							<table class="table table-striped">
                <thead>
                  <tr class="row">
                    <td class="col-xs-8" style="padding: 0px">
											{% include 'commons/html/float_input.html' with
												name="Value"
												id="species_value"
												default=1
												placeholder="Input species initial value"
											%}
                    </td>
                    <td class="col-xs-4" style="padding: 0px">
											{% include 'commons/html/dropdown.html' with
												name="Type"
												id="species_value_type"
												default=1
												default_label="Concentration"
												list=list_of_species_type
											%}
                    </td>
                  </tr>
                </thead>
              </table>
							{% include 'commons/html/toggle_switch.html' with
								name="Constant"
								id="species_constant"
								default=""
								onclick="form_species.form_constant.toggle();"
							%}
							{% include 'commons/html/toggle_switch.html' with
								name="Boundary condition"
								id="species_boundary"
								default=""
							  onclick="form_species.form_boundary.toggle();"
							%}
							{% include 'commons/html/dropdown.html' with
								name="Unit"
								id="species_unit"
								default_label="Choose a unit"
								default=""
								list=list_of_units
							%}
            </div>
            <div id="annotation" class="tab-pane fade in">
							{% include 'commons/html/editable_input.html' with
								name="SBO term"
								id="species_sboterm"
								default=""
								default_label=""
								placeholder="Input the species SBO term"
								validate="form_species.form_sboterm.resolve();"
							%}
							{% include 'commons/html/notes_input.html' with
								name="Notes"
								id="species_notes"
								nb_lines=6
							%}

            </div>
          </div>
          <div class="container-fluid" id="error_modal">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
