{% extends '_layouts/base.html' %}
{% load static from staticfiles %}


{% block css %}
<link href="{% static "custom.css" %}" rel="stylesheet">
<link href="{% static "custom_sidebar.css" %}" rel="stylesheet">
{% endblock css %}


{% block view %}
<div id="wrapper" class="main">
  <div id="sidebar" class="sidebar-nav">
	<div class="container-fluid">

	{% block view_sidebar %}{% endblock view_sidebar %}
  </div>

  </div>
  <div id="content" class="content">
	{% block view_content %}{% endblock view_content %}
  </div>
</div>
<a href="#menu-toggle" class="sidebar-toggle" id="sidebar-toggle">
  <span class="btn btn-default btn-md glyphicon glyphicon-menu-hamburger"></span>
</a>

{% endblock view %}


{% block footer_js %}
<script src="{% static "custom_sidebar.js" %}"></script>
{% endblock footer_js %}


{% block js %}
{{ block.super }}

{% endblock js %}
