
{% extends '_layouts/menupage.html' %}
{% block view_name %}Optimize data{% endblock view_name %}
{% block view_sidebar %}{% include 'fit/menu.html' %}{% endblock view_sidebar %}
{% block view_content %}
{% load bootstrap3 %}
{% load tags %}
<div class="container-fluid" id="view">
  <h4>Model vs Data Fitting</h4>
  <hr/><br/>

  <ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#data">Data</a></li>
	<li><a data-toggle="tab" href="#params">Parameters</a></li>
	<li><a data-toggle="tab" href="#settings">Settings</a></li>
  </ul>
  <br/><br/>

  <form action="" method="POST">
	{% csrf_token %}
  <div class="tab-content">
		<div id="data" class="tab-pane fade in active">
			{% include 'fit/select_data.html' %}

		</div>
		<div id="params" class="tab-pane fade">
			{% include 'fit/select_parameters.html' %}

		</div>
		<div id="settings" class="tab-pane fade">
			<table class="table table-striped">
				<thead>
				<tr class="row">
					<th class="col-xs-10"></th>
					<th class="col-xs-2"></th>
				</tr>
				</thead>
				<tbody>
					<tr class="row">
						<td class="col-xs-10 vert-align">Number of cores</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="nb_cores" name="nb_cores" value="{{ form.nbCores }}">
						</td>
					</tr>
					<tr class="row">
						<td class="col-xs-10 vert-align">Lambda</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="lambda" name="lambda" value="{{ form.plsaLambda }}">
						</td>
					</tr>
					<tr class="row">
						<td class="col-xs-10 vert-align">Precision</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="precision" name="precision" value="{{ form.plsaCriterion }}">
						</td>
					</tr>
					<tr class="row">
						<td class="col-xs-10 vert-align">Initial temperature</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="initial_temperature" name="initial_temperature" value="{{ form.plsaInitialTemperature }}">
						</td>
					</tr>
					<tr class="row">
						<td class="col-xs-10 vert-align">Initial moves</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="initial_moves" name="initial_moves" value="{{ form.plsaInitialMoves }}">
						</td>
					</tr>
					<tr class="row">
						<td class="col-xs-10 vert-align">Freeze count</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="freeze_count" name="freeze_count" value="{{ form.plsaFreezeCount }}">
						</td>
					</tr>
					<tr class="row">
						<td class="col-xs-10 vert-align">Penalty for negative values</td>
						<td class="col-xs-2 vert-align">
							<input type="text" class="form-control invisible_inputs" id="negative_penalty" name="negative_penalty" value="{{ form.scoreNegativePenalty }}">
						</td>
					</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
  </div>



  <br/><br/>


	<button type="submit" name="action" value="create" class="btn btn-primary">{% bootstrap_icon "road" %} Launch !</button>
  </form>
</div>

{% endblock view_content %}
{% block js %}

$('#dataset_id_dropdown li').on('click', function(){
  $("#dataset_id_label").html($(this).text());
  $('#dataset_id').val($(this).index());
});

{% for parameter in selected_parameters %}

  $("#select_parameter_{{forloop.counter0}}").on('click', function(){

		if ($(this).prop('checked')){
			$("#parameter_{{forloop.counter0}}_min_input").prop('disabled', false);
			$("#parameter_{{forloop.counter0}}_value_input").prop('disabled', false);
			$("#parameter_{{forloop.counter0}}_max_input").prop('disabled', false);
			$("#parameter_{{forloop.counter0}}_active").val(1);

		} else {
			$("#parameter_{{forloop.counter0}}_min_input").prop('disabled', true);
			$("#parameter_{{forloop.counter0}}_value_input").prop('disabled', true);
			$("#parameter_{{forloop.counter0}}_max_input").prop('disabled', true);
			$("#parameter_{{forloop.counter0}}_active").val(0);
		}

  });


  $("#parameter_{{forloop.counter0}}_value_input").change(function() {
		$("#parameter_{{forloop.counter0}}_value").val($(this).val());
  });

  $("#parameter_{{forloop.counter0}}_min_input").change(function() {
		$("#parameter_{{forloop.counter0}}_min").val($(this).val());
  });

  $("#parameter_{{forloop.counter0}}_max_input").change(function() {
		$("#parameter_{{forloop.counter0}}_max").val($(this).val());
  });

{% endfor %}
{{ block.super }}

{% endblock js %}
